<h1>Users</h1>
<button type="button" class="btn btn-lg btn-default"><%= link_to 'New User', new_user_path %></button>
<% @users.each do |user| %>
<div class="row">
  <div class="col-md-6">
    <%= user.name %>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default"><%= link_to 'Show', user %></button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_user_path(user) %></button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>
<% end %>
